
$generic-app-color: #04838F;

* {
    font-family: Roboto, Helvetica, sans-serif;
}

.container {
    text-align: center;
}

.title {
    display: flex;
    justify-content: center;
}

.title h2 {
    background-color: $generic-app-color;
    border: 2px solid $generic-app-color;
    border-radius: 8px;
    padding: 1%;
    font-weight: normal;
    color: white;
}

.stats {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.stats div {
    border: 2px solid $generic-app-color; 
    border-radius: 8px; 
    padding: 1%; 
}

.back-button {
    display: flex;
    justify-content: center;
    margin: 2%;
}

.back-button button {
    background-color: $generic-app-color;
    border: 2px solid $generic-app-color;
    border-radius: 8px;
    padding: 1%;
    font-weight: normal;
    color: white;
    cursor: pointer;
}